[submodule "Anvil"]
	path = Anvil
	url = https://github.com/thesmallcreeper/Anvil
[submodule "glm"]
	path = glm
	url = https://github.com/thesmallcreeper/glm
[submodule "Configuru"]
	path = Configuru
	url = https://github.com/thesmallcreeper/Configuru
[submodule "tinygltf"]
	path = tinygltf
	url = git@github.com:thesmallcreeper/tinygltf
