[submodule "glm"]
	path = glm
	url = https://github.com/thesmallcreeper/glm
[submodule "Configuru"]
	path = Configuru
	url = https://github.com/thesmallcreeper/Configuru
[submodule "tinygltf"]
	path = tinygltf
	url = https://github.com/thesmallcreeper/tinygltf
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "VulkanMemoryAllocator-Hpp"]
	path = VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp.git
